// -----------------------------------------------
// COLOR SCHEME ----------------------------------
// -----------------------------------------------
// Dark ------------------------------------------
$c-dark-50:  #373737;
$c-dark-100: #343434;
$c-dark-200: #323232;
$c-dark-300: #2D2D2D;
$c-dark-400: #2C2C2C;
$c-dark-500: #262626;
$c-dark-600: #242424;
$c-dark-700: #212121;
$c-dark-800: #1D1D1D;
$c-dark-900: #121212;

// Lignt -----------------------------------------
$c-light-100: #f5f5f5;
$c-light-900: #646464;

// Red -------------------------------------------
$c-red-200: #EF9A9A;


// Deep Purple -----------------------------------
$c-deepPurple-200: #B39DDB;
$c-deepPurple-300: #9575CD;

// Amber -----------------------------------------
$c-amber-200: #FFE082;

// -----------------------------------------------
// Z-INDEX SCHEME --------------------------------
// -----------------------------------------------
$z-lvl-0: 0;
$z-lvl-1: 1;

// -----------------------------------------------
// MEDIA QUERIES SCHEME --------------------------
// -----------------------------------------------
$mq-xs: 'screen and (min-width: 480px)';
$mq-sm: 'screen and (min-width: 576px)';
$mq-md: 'screen and (min-width: 768px)';
$mq-lg: 'screen and (min-width: 992px)';
$mq-xl: 'screen and (min-width: 1200px)';