// Font Family import by Google Fonts API
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");

// Set base font family
html,
body {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: $c-light-100;
}

// Form Inputs
input {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
}

// Button
button {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
}

// Text/Tags inside modal body
.c-modal__container__body {
    p {
        line-height: 27px;

        &:not(:last-child) {
            padding-bottom: 16px;
            border-bottom: 1px solid $c-light-900;
            margin-bottom: 16px;
        }
    }

    strong {
        display: block;
        margin-bottom: 8px;
        color: $c-light-900;
        line-height: 27px;
    }

    a {
        color: $c-deepPurple-200;
    }
}
