// Font Family import by Google Fonts API
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

// Those styles are to geranal components or classes
// Specific components styles need to be inside component css

// Set base font family
html,
body {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    color: $c-light-100;
}

// Form Inputs
input {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
}

// Button
button {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
}

// Error Message
.errorMessage {
    display: block;
    padding: 8px;
    color: $c-red-200;
}